.idea
*.pyc
*.mp3
*.pkl
*.xls
*.xml
*.csv
*.pkl
*.jpg
*.png
*.gif
*.zip
*.xlsx
*.log
~$d.xlsx
d.xlsx
data/
data.cfg
request_header
header_toolkit.txt
__pycache__/
wikizhword.text
news_tensite_xml.dat
news_tensite_xml.smarty.dat
Download/
Download_IMG/
cookies
httpcache
config.py
full_name.dat
.ipynb_checkpoints/
spider/headers.txt
area_code.txt
